body {
    width: 50%;
    color: #737373;
    background: #ffe6cc;
    margin: auto;
    margin-top: 10%;
}
.ipsum-quote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #996633;
}
.center {
    display: block;
    text-align: center;
}